* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.); 
}

button {
    margin: 10px 10px;
    border-radius: 15;
	text-decoration-color: rgb(255, 255, 255);
    color: #353535;
	background-color: grey;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #008b8b;
}

#lock {
    background-image: image(url("icons/lock.svg"));
}

#logout {
    background-image: image(url("icons/logout.svg"));
}

#suspend {
    background-image: image(url("icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("icons/hibernator.svg"));
}

#shutdown {
    background-image: image(url("icons/poweroff.svg"));
}

#reboot {
    background-image: image(url("icons/reboot.svg"));
}
